p{
    background-color: crimson;
    font-family: "Ubuntu", "NanumGothicCoding";
    margin: 24px;
    padding: 24px;
    
}

p.special{
    background-color: aquamarine;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 200px;

    padding-top: 50px;
    padding-left: 3em;
    padding-right: 4em;
}